# This is based on the example here:
# https://gitlab.com/uniqx/pt-socks5-over-obfs4proxy/-/blob/master/provision.yml

logoutput: syslog stderr /usr/local/envoy/dante/danted.log

internal: 127.0.0.1 port = 9595
external: {{ ansible_default_ipv4.address }}

user.privileged: proxy
user.unprivileged: nobody
user.libwrap: nobody

srchost: nodnsmismatch

clientmethod: none
socksmethod: none

client pass {
  from: 127.0.0.1/32 to: 0.0.0.0/0
  log: error
}

socks pass {
  from: 0.0.0.0/0 to: 0.0.0.0/0
  command: bind connect udpassociate
  log: error
}

# block connections to localhost, or they will appear to come from the proxy.
socks block { from: 0/0 to: lo log: connect }
